.main-chatHeader-container {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 20px;
    background-color: rgb(240, 240, 240);
}

.chatHeader-container {
    text-align: center;
}

.chatHeader-title {
    color: #7554a0;
    font-weight: 800;
    font-size: 24px;

}

.chatHeader-subtitle {
    color: #7554a0;
    font-weight: 600;
    font-size: 12px;
    padding-top: 4px;


}

.more-space {
    padding-bottom: 110px;
}